In [13]:
!pip install mysql-connector-python
import mysql.connector as connector

Requirement already satisfied: mysql-connector-python in c:\users\aorus\appdata\local\programs\python\python310\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\aorus\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.20.3)

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'C:\Users\AORUS\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [14]:
try: 
    connection=connector.connect(host="localhost",    
                             user="host", # use your own
                             password="host1", # use your own
                             port= 3307,
                             use_pure=True
                             )
    print("Connection between MySQL and Python is established.\n")
except connector.Error as er:
    print("Error code: ", er.errno)
    print("Error message: ", er.msg)

Connection between MySQL and Python is established.

In [15]:
cursor = connection.cursor(buffered=True)
print("Cursor is created to communicate with the MySQL using Python.\n")

try:
    cursor.execute("CREATE DATABASE capstone_lil_lemon2")
except:
    cursor.execute("drop database capstone_lil_lemon2")
    cursor.execute("CREATE DATABASE capstone_lil_lemon2")
print("The database capstone_lil_lemon2 is created.\n")
cursor.execute("USE capstone_lil_lemon2")

Cursor is created to communicate with the MySQL using Python.

The database capstone_lil_lemon2 is created.

In [16]:
# MenuItem table
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
MenuName VARCHAR(200) NOT NULL,
MenuType VARCHAR(200) NOT NULL,
Price Decimal(10,2),
PRIMARY KEY (ItemID)
);"""

cursor.execute(create_menuitem_table)
print("Menuitem table was created")


# Menu table 
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID),
FOREIGN KEY (ItemID) REFERENCES MenuItems(ItemID)
);"""

cursor.execute(create_menu_table)
print("Menu table was created")


#Employees table
create_employees_table= """
CREATE TABLE Employees (
EmployeesID INT AUTO_INCREMENT,
Role VARCHAR(50),
Salary DECIMAL(10,2),
PRIMARY KEY(EmployeesID)
);"""


cursor.execute(create_employees_table)
print("Employees table was created")


# Customers table 
create_customer_table="""
CREATE TABLE Customers (
CustomerID INT,
GuestFirstName VARCHAR(100),
GuestLastName VARCHAR(100),
Email VARCHAR(45)
);"""

cursor.execute(create_customer_table)
print("Customers table was created")


# Bookings table 
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
BookingDate DATE,
TableNo INT,
EmployeesID INT,
CustomerID INT,
PRIMARY KEY(BookingID),
FOREIGN KEY (EmployeesID) REFERENCES Employees(EmployeesID)
);"""

cursor.execute(create_booking_table)
print("Bookings table was created")

# Orders table
create_orders_table="""
CREATE TABLE Orders (
OrderID INT AUTO_INCREMENT,
CustomerID INT,
ItemID INT,
OrderDate DATE,
BookingID INT,
Quantity INT,
BillAmount INT,
PRIMARY KEY (OrderID),
FOREIGN KEY (ItemID) REFERENCES MenuItems(ItemID)
);"""

cursor.execute(create_orders_table)
print("Orders table was created")




#Status table
create_status_table= """
CREATE TABLE Status (
StatusID INT,
OrderID INT,
Status VARCHAR(100),
PRIMARY KEY(StatusID),
FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)
);"""


cursor.execute(create_status_table)
print("Status table was created")

print("All tables were created")

Menuitem table was created
Menu table was created
Employees table was created
Customers table was created
Bookings table was created
Orders table was created
Status table was created
All tables were created

In [17]:
#Inserting into MenuItem
insert_menuitems="""
INSERT INTO MenuItems (ItemID, MenuName, MenuType, Price)
VALUES
(1, 'Gelato','Dessert',15),
(2, 'Tequila','Drinks', 25),
(3, 'Fries', 'Appetizer', 25),
(4, 'Tacos','Appetizer', 30),
(5, 'Salmon', 'Fish', 45),
(6, 'Ribs','Meals', 45),
(7, 'BBQ Wings', 'Meals', 45)
;"""

cursor.execute(insert_menuitems)
connection.commit()
print("Values inserted into MenuItems")

#Inserting into Menu
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Italian'),
(2, 2, 'Mexican'),
(3, 3, 'French'),
(4, 4, 'Mexican'),
(5, 5, 'Italian'),
(6, 6, 'American'),
(7, 7, 'American')
;"""

cursor.execute(insert_menu)
connection.commit()
print("Values inserted into Menu")


#Inserting into Employees
insert_employees = """
INSERT INTO Employees (EmployeesID, Role, Salary)
VALUES
(10,"Chef",75000),
(11,"Waiter", 55000),
(12,"Waiter",55000),
(13,"Chef Assistant", 60000)

;"""
cursor.execute(insert_employees)
connection.commit()
print("Values inserted into Employees")

#Inserting into Customers
insert_customers = """
INSERT INTO Customers (CustomerID, GuestFirstName, GuestLastName,Email)
VALUES
(1,"Alaric","Wood","ric_alaric@gmail.com"),
(2,"Landon","Declan","landon@gmail.com"),
(3,"Mike","Ross","mike_ross@gmail.com"),
(4,"Harvey","Specter","hspecter@gmail.com"),
(5,"Rachel","Cook","rachelc@gmail.com")

;"""
cursor.execute(insert_customers)
connection.commit()
print("Values inserted into Customers")

#Inserting into Bookings
insert_bookings="""
INSERT INTO Bookings (BookingID, BookingDate,TableNo,EmployeesID,CustomerID)
VALUES
(1, "2022-10-10", 5,10,1),
(2, "2022-11-12", 3,10,3),
(3, "2022-10-30", 2,11,2),
(4, "2022-10-13", 10,12,5),
(5, "2022-10-10", 5,10,1)
;"""
cursor.execute(insert_bookings)
connection.commit()
print("Values inserted into Bookings")

#Inserting into Orders
insert_orders="""
INSERT INTO Orders (OrderID, CustomerID, ItemID, OrderDate, Quantity, BillAmount)
VALUES
(1, 1, 1, "2022-10-30", 2, 30),
(2, 3, 5, "2023-10-30", 4, 180),
(3, 2, 4, "2023-10-30", 1, 30),
(4, 2, 1, "2023-10-30", 1, 15),
(5, 5, 6, "2023-10-30", 2, 90)
;"""

cursor.execute(insert_orders)
connection.commit()
print("Values inserted into Orders")

#Inserting into Status
insert_status="""
INSERT INTO Status (StatusID, OrderID, Status)
VALUES
(10,1,"Served"),
(11,2,"Preparing"),
(12,3,"Served"),
(13,4,"Served"),
(14,5,"Preparing")

;"""

cursor.execute(insert_status)
connection.commit()
print("Values inserted into Status")

Values inserted into MenuItems
Values inserted into Menu
Values inserted into Employees
Values inserted into Customers
Values inserted into Bookings
Values inserted into Orders
Values inserted into Status

In [20]:
print("REPORT")

REPORT

In [32]:
"""ORDERSVIEW"""
cursor.execute("DROP VIEW IF EXISTS ordersview;")

# The query that creates the OrdersView view.
OrdersView = """
    CREATE VIEW OrdersView AS 
    SELECT OrderID, Quantity, BillAmount FROM Orders
    WHERE Quantity > 2
    ;
"""
# Execute the query
cursor.execute(OrdersView)

# We can see that we've created the view
results = cursor.fetchall()
print(cursor.column_names)
for result in results:
    print(result)

InterfaceError: No result set to fetch from

In [33]:
cursor.execute("""SELECT * FROM OrdersView;""")

# Retrieving records
results = cursor.fetchall()

# Retrieving the column names and printing the data
print(cursor.column_names)
for result in results:
    print(result)

('OrderID', 'Quantity', 'BillAmount')
(2, 4, 180)

In [34]:
"""Now Lets Say client needs to know the info from all customers with orders that cost > 150"""

'Now Lets Say client needs to know the info from all customers with orders that cost > 150'

In [40]:
more= """
    SELECT Customers.CustomerID, CONCAT(Customers.GuestFirstName, " ",Customers.GuestLastName) AS FullName, Orders.OrderID, Menus.Cuisine, MenuItems.MenuName, MenuItems.MenuType, Orders.BillAmount FROM Customers
    INNER JOIN Bookings
    ON Customers.CustomerID = Bookings.CustomerID
    INNER JOIN Orders
    ON Bookings.BookingID = Orders.BookingID
    INNER JOIN Menus
    ON Orders.ItemID = Menus.ItemID
    INNER JOIN MenuItems on MenuItems.ItemID= Menus.ItemID
    WHERE Orders.BillAmount > 150
    ;
"""
# Execute the query and retrieving records
cursor.execute(more)
results = cursor.fetchall()

# Retrieving the column names and printing the data
print(cursor.column_names)
for result in results:
    print(result)

('CustomerID', 'FullName', 'OrderID', 'Cuisine', 'MenuName', 'MenuType', 'BillAmount')

In [41]:
"""Minimun of two Orders"""

'Minimun of two Orders'

In [44]:
# The query to extract the information.
twoorders = """
    SELECT MenuName, MenuType FROM MenuItems
    WHERE ItemID = ANY (SELECT ItemID FROM Orders
	                    WHERE Quantity > 2)
   ;
"""
# Execute the query and retrieving records
cursor.execute(twoorders)
results = cursor.fetchall()

# Retrieving the column names and printing the data
print(cursor.column_names)
for result in results:
    print(result)

('MenuName', 'MenuType')
('Salmon', 'Fish')

In [45]:
"""STORED PROCEDURES"""

'STORED PROCEDURES'

In [46]:
#GetMaxQuantity
cursor.execute("DROP PROCEDURE IF EXISTS GetMaxQuantity;")

# Creating the procedure
GetMaxQuantity = """
    CREATE PROCEDURE GetMaxQuantity()
    BEGIN
        SELECT MAX(Quantity) AS 'Max Quantity in Orders' FROM Orders;
    END
"""
# Execute the query
cursor.execute(GetMaxQuantity)

# Calling the store procedure
cursor.callproc('GetMaxQuantity')

# Retrieving records in a dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['Max Quantity in Orders']
(4,)

In [48]:
#Cancel ORDER
cursor.execute("DROP PROCEDURE IF EXISTS CancelOrder;")

# Creating the procedure
CancelOrder = """
    CREATE PROCEDURE CancelOrder(IN order_id INT)
    BEGIN
        DELETE FROM Orders WHERE OrderID = order_id;
        SELECT CONCAT("Order ", order_id , " is cancelled") AS Confirmation;
    END
"""
# Execute the query
cursor.execute(CancelOrder)

# Calling the store procedure
cursor.callproc('CancelOrder', (2222,))

# Rretrieving records in a dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['Confirmation']
('Order 2222 is cancelled',)

In [50]:
#CheckBooking
cursor.execute("DROP PROCEDURE IF EXISTS CheckBooking;")

# Creating the procedure
CheckBooking  = """
    CREATE PROCEDURE CheckBooking (IN booking_date DATE, IN table_number INT)
    BEGIN
        IF (SELECT COUNT(*) FROM Bookings WHERE BookingDate = booking_date AND TableNo = table_number) > 0 THEN
            SELECT CONCAT ('Table ', table_number , ' is already booked') AS 'Bookings status';
        ELSE
            SELECT CONCAT ('Table ', table_number , ' available') AS 'Bookings status';
        END IF;
    END
"""
# Execute the query
cursor.execute(CheckBooking)

# Calling the store procedure
cursor.callproc('CheckBooking', ('2022-10-30', 2))

# Rretrieving records in a dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['Bookings status']
('Table 2 is already booked',)

In [51]:
"""Lets try with a booking that doesnt exists"""

'Lets try with a booking that doesnt exists'

In [52]:
# Now if we try with a booking that doesn't exist
cursor.callproc('CheckBooking', ('2023-07-04', 1))

# Rretrieving records in a dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['Bookings status']
('Table 1 available',)

In [66]:
#Add Booking
cursor.execute("DROP PROCEDURE IF EXISTS AddValidBooking;")

# Creating the procedure
AddValidBooking  = """
    CREATE PROCEDURE AddValidBooking (IN BookingID INT, IN customer_id varchar(255), IN booking_date DATE, IN table_number INT, IN employees_id INT)
    BEGIN
        START TRANSACTION;
            INSERT INTO Bookings(BookingID, BookingDate, TableNo,EmployeesID,CustomerID) VALUES(BookingID, booking_date, table_number,employees_id,customer_id);
        IF (SELECT COUNT(*) FROM Bookings WHERE BookingDate = booking_date AND TableNo = table_number) = 0 
            THEN
            COMMIT;
            SELECT CONCAT('Table number ', table_number, ' is now booked for the ', booking_date, ' booking successful') AS 'Booking status';
        ELSE
            ROLLBACK;
			SELECT CONCAT('Table number ', table_number, ' is already booked - booking cancelled') AS 'Booking status';
        END IF;
    END
"""
# Execute the query
cursor.execute(AddValidBooking)

# Calling the store procedure
cursor.callproc('AddValidBooking', (7,17,'2022-11-14',15,10))

# Rretrieving records in a dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['Booking status']
('Table number 15 is already booked - booking cancelled',)

In [69]:
#Update Booking
cursor.execute("DROP PROCEDURE IF EXISTS UpdateBooking;")

# Creating the procedure
UpdateBooking  = """
    CREATE PROCEDURE UpdateBooking (IN booking_id INT, IN booking_date VARCHAR(255))
    BEGIN
        DECLARE subqu INT;
        SELECT COUNT(*) INTO subqu FROM Bookings 
			WHERE BookingID = booking_id;
        IF subqu = 1 THEN
            UPDATE Bookings SET BookingDate = booking_date WHERE BookingID = booking_id;
			SELECT CONCAT('Booking ', booking_id , ' updated') AS 'Confirmation';
        ELSE
			SELECT CONCAT('Booking ', booking_id , ' does not exist') AS 'Confirmation';
        END IF;
    END
"""
# Execute the query
cursor.execute(UpdateBooking)

# Calling the store procedure
cursor.callproc('UpdateBooking', (1,'2022-08-14'))

# Rretrieving records in a dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['Confirmation']
('Booking 1 updated',)

In [71]:

# Now if we try with a booking that doesn't exist
cursor.callproc('UpdateBooking', (100,'2023-10-14'))

# Rretrieving records in a dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['Confirmation']
('Booking 100 does not exist',)

In [74]:
#CancelBooking
cursor.execute("DROP PROCEDURE IF EXISTS CancelBooking;")

# Creating the procedure
CancelBooking  = """
    CREATE PROCEDURE CancelBooking (IN booking_id INT)
    BEGIN
        DECLARE subqu INT;
        SELECT COUNT(*) INTO subqu FROM Bookings 
			WHERE BookingID = booking_id;
        IF subqu = 1 THEN
            DELETE FROM Bookings WHERE BookingID = booking_id;
			SELECT CONCAT('Booking ', booking_id , ' cancelled') AS 'Confirmation';
        ELSE
			SELECT CONCAT('Booking ', booking_id , ' does not exist') AS 'Confirmation';
        END IF;
    END
"""
# Execute the query
cursor.execute(CancelBooking)

# Calling the store procedure
cursor.callproc('CancelBooking', (1,))

# Rretrieving records in a dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['Confirmation']
('Booking 1 cancelled',)

In [75]:
# Now if we try with a booking that doesn't exist
cursor.callproc('CancelBooking', (6,))

# Rretrieving records in a dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['Confirmation']
('Booking 6 does not exist',)

In [76]:
"""Closing the Cursor"""

'Closing the Cursor'

In [77]:
print("connection is about to close ")    
if connection.is_connected():
    cursor.close()
    print("The cursor is closed")
    connection.close()
    print("The connection is closed")
else:
    print("connection is already closed")

connection is about to close
The cursor is closed
The connection is closed